/*positiong propery*/
.btn {
	background-color: red;
	border-radius: 20px;
	width: 250px;
	padding: 10px;
}
.box {
	position: relative;
}
/*.bg-wraper {
	position: absolute;
	left: 50px;
	top: 85px;
	width: 600px;
}*/
.cover {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.img-box {
	height: 100%;
}
/*bg-image*/
.bg-image {
	background-image: url(../img/1.jpg);
	width: 100%;
	height: 600px;

	background-size: contain;
	background-repeat: no-repeat;
}
.bg-wraper {
	width: 600px;
	padding-top: 150px;
	padding-left: 50px;
}
.title-5 {
	color: #fff;
	font-size: 40px;
	transition-property: all;
	transition-delay: 0.3s;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition: all 0.3s linear 0.5s;
}
.title-5:hover {
	color: orange;
	font-size: 45px;
	background-color: red;

}
/*animation block*/
.animation-block {
	width: 50px;
	height: 50px;
	background-color: green;
	position: absolute;
	animation-name: cube;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.animation-block1 {
	width: 50px;
	height: 50px;
	background-color: green;
	position: absolute;
	top: 200px;
	left: 60px;
	animation-name: cube1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes cube {
	0%{top:0;}
	50%{top: 100px; background: red;}
	100%{top: 200px; background: yellow;}
}
@keyframes cube1 {
	0%{top: 200px; background-color: yellow;}
	50%{top: 100px; background-color: red;}
	100%{top: 0;}
}